
.jumbotron {
    background-image: url(../res/homepage_background.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    color: white;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 1);
}

    .jumbotron h1 {
        font-family: MingLiu;
        color: #286090;
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6);
    }

.data_pager {
    display:inline-block;

    height:30px;
    width:30px;
    padding:4px;
    margin:20px auto 20px auto;
}


.data_pager:hover {
    cursor:pointer;
    background-color:aliceblue;
}

.data_pager:first-child {



}

    .data_pager:last-child {

    }

.main_article{
    font-size:20px;
}