a:hover {
    text-decoration: none;
}

.jumbotron {
    background-image: url(../res/homepage_background.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    color: white;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
}

    .jumbotron h1 {
        text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
    }

.dropdown-menu {
    animation: fadeIn 0.5s ease;
}

.card {
    max-height: 210px;
    min-height: 100px;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: 0px 0px 2px #b2b2b2;
    border-radius: 5px;
    overflow: hidden;
}

.card_title_img {
    max-width: 100px;
    max-height: 200px;
    background-image: url(../res/homepage_title_img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.data_pager {
    display: inline-block;
    height: 30px;
    width: 30px;
    padding: 4px;
    margin: 20px auto 20px auto;
}


    .data_pager:hover {
        cursor: pointer;
        background-color: aliceblue;
    }

    .data_pager:first-child {
    }

    .data_pager:last-child {
    }

.main_article {
    font-size: 20px;
}


.detail_headimg {
    background-image: none;
    background-color: #808080;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /*filter: blur(3px) brightness(130%);*/
    animation: fadeIn 1s ease !important;
}

.detail_headimg a {
    color: white;
    text-decoration: none;
}

.detail_no_headimg {
    padding: 10px 15px 0px 15px;
    animation: fadeIn 10s ease !important;
}

